In [42]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv('car-sales.csv')

In [3]:
car

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

viewing and selecting data

In [4]:
car.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

loc and iloc

In [20]:
animals= pd.Series(["cat", "dog","bird", "panda","snake"], index=['a','b','c','d','e'])

In [21]:
animals

a      cat
b      dog
c     bird
d    panda
e    snake
dtype: object

In [23]:
animals.loc[:'c']

a     cat
b     dog
c    bird
dtype: object

In [24]:
car.loc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

 iloc refers to index position in dataframe

In [25]:
car.iloc[:3]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00
2  Toyota   Blue          32549      3  $7,000.00

In [35]:
car[car["Make"] == "Toyota"]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
2  Toyota   Blue          32549      3  $7,000.00
5  Toyota  Green          99213      4  $4,500.00
8  Toyota  White          60000      4  $6,250.00

In [38]:
car[car["Odometer (KM)"] > 50000]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00
4  Nissan  White         213095      4  $3,500.00
5  Toyota  Green          99213      4  $4,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00

crosstab is used to compare two columns

In [39]:
pd.crosstab(car["Make"] , car["Doors"])

Doors   3  4  5
Make
BMW     0  0  1
Honda   0  3  0
Nissan  0  2  0
Toyota  1  3  0

In [43]:
 #groupby
car.groupby(["Odometer (KM)"]).mean()

TypeError: agg function failed [how->mean,dtype->object]